.my-header2 {
    color: #5b5b5b;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.my-container {
    margin: 40px;
    padding: 0px;
}
 .my-portfolio {

    color: #5b5b5b;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 50px;
 }

 .center-stuff {
    display: flex;
    justify-content: center;
 }

 .layout-grid {
    padding: 10px;
 }

.top-50 {
   top: 25% !important;
}

.navBackground {
   background-color: white;
}
